
{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Login {% endblock %}

{% block content %}
{% load static %}
<div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

<div class="l-block toggled" id="l-login">
    <div class="lb-header palette-Indigo bg">
        <i class="zmdi zmdi-check"></i>
        Password reset completed
    </div>

    <div class="lb-body">
        <p class="message">{% trans "Password reset completed successfully." %}  <br /> <a  href="{% url 'auth_login' %}">{% trans "Log in now" %}</a></a>
    </div>
</div>
                    
                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>

<style type="text/css">
.auth-fluid {
    background: url(../../../../../static/images/bg-auth.jpg) center;
    background-size: cover;
}
.auth-fluid .auth-fluid-right{
    background-color: unset;
}
.auth-fluid .auth-fluid-form-box{
    /*background-color: unset;*/
}
.auth-logo h5{
    font-size: 30px;
    text-transform: uppercase;
}
</style>
{% endblock %}
