
{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Login {% endblock %}

{% block content %}
{% load static %}
<div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                            <div class="l-block toggled" id="l-login">
                                <div class="lb-header palette-Indigo bg">
                                    <i class="mdi mdi-mail-send"></i>
                                    Password reset instruction sent
                                </div>

                                <div class="lb-body">
                                    <p class="message">
                                    Email with password reset instructions has been sent to your inbox. If you do not receive the email in your inbox please check your "spam" or "junk" folder before writing to us.
                                </p>
                                </div>
                            </div>
                            <div class="m-t-30">
            <a data-bg="teal" class="palette-Purple text d-block m-b-5" href="{% url 'auth_login' %}">Already have an account?</a>
        </div>
                    
                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>

<style type="text/css">
.auth-fluid {
    background: url(../../../../../static/images/bg-auth.jpg) center;
    background-size: cover;
}
.auth-fluid .auth-fluid-right{
    background-color: unset;
}
.auth-fluid .auth-fluid-form-box{
    /*background-color: unset;*/
}
.auth-logo h5{
    font-size: 30px;
    text-transform: uppercase;
}
</style>
{% endblock %}
