{% extends "registration/auth_base.html" %}
{% load i18n %}

{% block title %} Login {% endblock %}

{% block content %}
{% load static %}
<div class="auth-fluid-form-box">
                <div class="align-items-center d-flex h-100">
                    <div class="card-body">

                        <!-- Logo -->
                      <!--   <div class="auth-brand text-center text-lg-left">
                            <div class="auth-logo">
                                <h5>log in</h5>
            
                                <a href="index.html" class="logo logo-light text-center">
                                    <span class="logo-lg">
                                        <img src="{% static 'images/logo-light.png' %}" alt="" height="22">
                                    </span>
                                </a>
                            </div>
                        </div> -->

                        <!-- title-->
                        <h4 class="mt-0">Password Change</h4>

                        <form method="post" action=".">
            {% csrf_token %}
            <p class="m-b-30">Please enter your registered email address and proceed.</p>

            <div class="form-group fg-float">
                <div class="fg-line">
                    <label class="fg-label">Email Address</label>                   
                    <input name="email" type="text" value="{{ form.email.value|default:""}}" class="input-sm form-control fg-input">
                </div>
                {% if form.email.errors %}
                    <span class="error">{{ form.email.errors.as_text }}</span>
                 {% endif %}
            </div>
    
            <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
        </form>
        
        <div class="m-t-30">
            <a data-bg="teal" class="palette-Purple text d-block m-b-5" href="{% url 'auth_login' %}">Already have an account?</a>
        </div>
                    </div> <!-- end .card-body -->
                </div> <!-- end .align-items-center.d-flex.h-100-->
            </div>

<style type="text/css">
.auth-fluid {
    background: url(../../../../static/images/bg-auth.jpg) center;
    background-size: cover;
}
.auth-fluid .auth-fluid-right{
    background-color: unset;
}
.auth-fluid .auth-fluid-form-box{
    /*background-color: unset;*/
}
.auth-logo h5{
    font-size: 30px;
    text-transform: uppercase;
}
</style>
{% endblock %}
