{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>
                        <h4 class="page-title">{{title}}</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <form class="search-bar form-inline">
                                        <div class="position-relative">
                                            <input type="text" name="q" class="form-control" placeholder="Search...">
                                            <span class="mdi mdi-magnify"></span>
                                        </div>
                                    </form>                          
                                </div>

                            </div>
                        

                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-borderless table-hover mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>UserName</th>
                                            <th>FirstName</th>
                                            <th>LastName</th>
                                            <th>Email</th>
                                            <th>CompanyName</th>
                                            <th>Country</th>
                                            <th>State</th>
                                            <th>PhoneNumber</th>
                                            <th>CreatedUserID</th>
                                            <th>CreatedDate</th>
                                            <th>UpdatedUserID</th>
                                            <th>UpdatedDate</th>
                                            

                                           
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for instance in instances %}
                                        <tr>
                                            <td>
                                                {{ instance.auto_id }}
                                            </td>
                                            <td>
                                                {{ instance.user.username }}
                                            </td>  
                                            <td>
                                                {{ instance.user.first_name }}
                                            </td>    
                                            <td>
                                                {{ instance.user.last_name }}
                                            </td>
                                            <td>
                                                {{ instance.user.email }}
                                            </td>
                                            <td>
                                                {{ instance.CompanyName }}
                                            </td>
                                            <td>
                                                {{ instance.Country }}
                                            </td>
                                            <td>
                                                {{ instance.State }}
                                            </td>
                                            <td>
                                                {{ instance.PhoneNumber }}
                                            </td>
                                            <td>
                                                {{ instance.CreatedUserID }}
                                            </td>
                                            <td>
                                                <span class="font-weight-semibold">{{ instance.CreatedDate }}</span>
                                            </td>

                                            <td>
                                                {{ instance.UpdatedUserID }}
                                            </td>
                                            <td>
                                                <span class="font-weight-semibold">{{ instance.UpdatedDate }}</span>
                                            </td>

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                           
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->

    </div> <!-- content -->
{% endblock %}