{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>
                        <h4 class="page-title">{{title}}</h4>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <form class="search-bar form-inline">
                                        <div class="position-relative">
                                            <input type="text" name="q" class="form-control" placeholder="Search...">
                                            <span class="mdi mdi-magnify"></span>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right">
                                        <a href="#" class="btn btn-info waves-effect waves-light mb-2 mr-2"><i
                                                class="mdi mdi-plus mr-1"></i>List {{title}}</a>
                                    </div>
                                </div><!-- end col-->
                            </div>
                            <h3>E Invoice</h3>
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-borderless table-hover mb-0">
                                    <thead class="thead-light">
                                        <tr>

                                            <th>#</th>
                                            <th>id</th>
                                            <th>InvoiceID</th>
                                            <th>TransactionDate</th>
                                            <th>VoucherNo</th>
                                            <th>VoucherType</th>
                                            <th>TaxAmount</th>
                                            <th>GrandTotal</th>
                                            <th style="width: 82px;">£</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for instance in instances %}

                                        <tr>
                                            <td class="table-user">
                                                <a href="javascript:void(0);"
                                                    class="textinstanceinstance-body font-weight-semibold">{{instance.auto_id}}</a>
                                            </td>
                                            <td>
                                                {{ instance.pk }}
                                            </td>
                                            <td>
                                                {{ instance.InvoiceID }}
                                            </td>
                                            <td>
                                                {{ instance.TransactionDate }}
                                            </td>

                                            <td>
                                                {{ instance.VoucherNo }}
                                            </td>

                                            <td>
                                                {{ instance.VoucherType }}
                                            </td>

                                            <td>
                                                {{ instance.TaxAmount }}
                                            </td>

                                            <td>
                                                {{ instance.GrandTotal }}
                                            </td>
                                            <td>
                                                {% if is_superuser %}
                                                <a data-id="" href="{% url 'users:delete_e_invoice' pk=instance.id %}"
                                                    data-text="{{confirm_delete_message}}" data-title="Are you sure?"
                                                    class="action-icon action-button remove"> <i
                                                        class="mdi mdi-delete"></i></a>
                                            </td>
                                            {% endif %}

                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->
    {% endblock %}