{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">eCommerce</a></li>
                                <li class="breadcrumb-item active">{{title}}</li>
                            </ol>
                        </div>
                        <h4 class="page-title">{{title}}</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <form class="search-bar form-inline">
                                        <div class="position-relative">
                                            <input type="text" name="q" class="form-control" placeholder="Search...">
                                            <span class="mdi mdi-magnify"></span>
                                        </div>
                                    </form>                          
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-right">
                                        <a href="{% url 'users:create_currency' %}" class="btn btn-info waves-effect waves-light mb-2 mr-2"><i class="mdi mdi-plus mr-1"></i>Create {{title}}</a>
                                    </div>
                                </div><!-- end col-->
                            </div>
                            <h3>Currency</h3>
                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap table-borderless table-hover mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                            <th>Created UserID</th>
                                            <th>Created Date</th>
                                            <th>Updated UserID</th>
                                            <th>Updated Date</th>
                                            <th>Action</th>
                                            <th style="width: 82px;">£</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for instance in user_view %}
                                    
                                        <tr>
                                            <td class="table-user">
                                                <a href="javascript:void(0);" class="textinstanceinstance-body font-weight-semibold">{{ instance.ID }}</a>
                                            </td>
                                            <td>
                                                {{ instance.Name }}
                                            </td>
                                            <td>
                                                {{ instance.Description }}
                                            </td>
                                            <td>
                                                {{ instance.CreatedUserID.id }}
                                            </td>
                                            <td>
                                                {{ instance.CreatedDate }}
                                            </td>
                                            <td>
                                                {{ instance.UpdatedUserID.id }}
                                            </td>
                                            <td>
                                                {{ instance.UpdatedDate }}
                                            </td>
                                            <td>
                                                {{ instance.Action }}
                                            </td>
        
                                            <td>
                                                <a href="{% url 'users:single_currency' pk=instance.id %}" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                                <a href="{% url 'users:edit_currency' pk=instance.id %}" class="action-icon"> <i class="mdi mdi-square-edit-outline"></i></a>
                                                <a data-id="" href="{% url 'users:delete_currency' pk=instance.id %}" data-text="{{confirm_delete_message}}" data-title="Are you sure?" class="action-icon action-button remove"> <i class="mdi mdi-delete"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body-->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->

    </div> <!-- content -->
{% endblock %}